[package]
authors = ["Dom Rodriguez <shymega@shymega.org.uk>"]
description = "A modular scrobbler with variety."
homepage = "https://github.com/shymega/scrobblers"
license = "GPL-3.0"
name = "scrobblers"
readme = "README.md"
repository = "https://github.com/shymega/scrobblers.git"
version = "0.1.0"

[lib]
name = "scrobblers"
path = "src/lib.rs"

[[bin]]
name = "scrobd"
path = "src/bin/scrobd.rs"

[[bin]]
name = "scrobctl"
path = "src/bin/scrobctl.rs"

[features]
default = []

[dependencies]
config = "0.9.1"

mpd = "0.0.12"
mpris = "1.1.1"

serde = "1.0.80"
serde_json = "1.0.33"

slog = "2.4.1"
slog-async = "2.3.0"
slog-scope = "4.0.1"
slog-term = "2.4.0"

time = "0.1.40"

[dependencies.clippy]
version = "*"
optional = true

[dependencies.clap]
features = ["suggestions", "color", "wrap_help"]
version = "2.32.0"

[profile.release]
lto = true
